/*
 * Lily58 ZMK Keymap
 *
 * Default layer (0): QWERTY
 * Lower layer (1): Numbers, symbols
 * Raise layer (2): Navigation, function keys
 * Adjust layer (3): Bluetooth, media, settings
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#ifdef CONFIG_ZMK_STUDIO
#include <dt-bindings/zmk/studio.h>
#endif

/ {
#ifdef CONFIG_ZMK_STUDIO
    combos {
        compatible = "zmk,combos";
        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
        };
    };
#endif

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
// ┌───────┬───────┬───────┬───────┬───────┬───────┐                    ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │  ESC  │   1   │   2   │   3   │   4   │   5   │                    │   6   │   7   │   8   │   9   │   0   │   `   │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │  TAB  │   Q   │   W   │   E   │   R   │   T   │                    │   Y   │   U   │   I   │   O   │   P   │   -   │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │ LCTRL │   A   │   S   │   D   │   F   │   G   │                    │   H   │   J   │   K   │   L   │   ;   │   '   │
// ├───────┼───────┼───────┼───────┼───────┼───────┼───────┐    ┌───────┼───────┼───────┼───────┼───────┼───────┼───────┤
// │ LSHFT │   Z   │   X   │   C   │   V   │   B   │   [   │    │   ]   │   N   │   M   │   ,   │   .   │   /   │ RSHFT │
// └───────┴───────┴───────┴──┬────┴──┬────┴──┬────┴──┬────┘    └──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┴───────┘
//                            │ LALT │ LGUI │LOWER │ SPACE│    │ ENTER│RAISE │ BSPC │ RALT │
//                            └──────┴──────┴──────┴──────┘    └──────┴──────┴──────┴──────┘
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                       &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                        &kp Y  &kp U    &kp I     &kp O   &kp P    &kp MINUS
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                        &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  &kp LBKT   &kp RBKT  &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                         &kp LALT &kp LGUI &mo 1  &kp SPACE  &kp RET   &mo 2  &kp BSPC &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
// ┌───────┬───────┬───────┬───────┬───────┬───────┐                    ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │       │  F1   │  F2   │  F3   │  F4   │  F5   │                    │  F6   │  F7   │  F8   │  F9   │  F10  │  F11  │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │   !   │   @   │   #   │   $   │   %   │                    │   ^   │   &   │   *   │   (   │   )   │  F12  │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │       │       │       │                    │   -   │   =   │   [   │   ]   │   \   │   `   │
// ├───────┼───────┼───────┼───────┼───────┼───────┼───────┐    ┌───────┼───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │       │       │       │       │    │       │   _   │   +   │   {   │   }   │   |   │   ~   │
// └───────┴───────┴───────┴──┬────┴──┬────┴──┬────┴──┬────┘    └──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┴───────┘
//                            │      │      │      │      │    │      │      │ DEL  │      │
//                            └──────┴──────┴──────┴──────┘    └──────┴──────┴──────┴──────┘
            bindings = <
#ifdef CONFIG_ZMK_STUDIO
&studio_unlock &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                      &kp F6    &kp F7    &kp F8   &kp F9   &kp F10  &kp F11
#else
&trans &kp F1    &kp F2   &kp F3   &kp F4    &kp F5                     &kp F6    &kp F7    &kp F8   &kp F9   &kp F10  &kp F11
#endif
&trans &kp EXCL  &kp AT   &kp HASH &kp DLLR  &kp PRCNT                  &kp CARET &kp AMPS  &kp STAR &kp LPAR &kp RPAR &kp F12
&trans &trans    &trans   &trans   &trans    &trans                     &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp GRAVE
&trans &trans    &trans   &trans   &trans    &trans    &trans   &trans  &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE &kp TILDE
                          &trans   &trans    &trans    &trans   &trans  &mo 3     &kp DEL   &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
// ┌───────┬───────┬───────┬───────┬───────┬───────┐                    ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │       │       │       │       │       │       │                    │       │       │       │       │       │       │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │  INS  │ PSCR  │ MENU  │       │       │                    │ PGUP  │ CTRL← │  UP   │CTRL→  │ SCLK  │       │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │       │       │ CAPS  │                    │ PGDN  │ LEFT  │ DOWN  │ RIGHT │  DEL  │ BSPC  │
// ├───────┼───────┼───────┼───────┼───────┼───────┼───────┐    ┌───────┼───────┼───────┼───────┼───────┼───────┼───────┤
// │       │ UNDO  │ CUT   │ COPY  │ PASTE │       │       │    │       │       │ HOME  │       │  END  │       │       │
// └───────┴───────┴───────┴──┬────┴──┬────┴──┬────┴──┬────┘    └──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┴───────┘
//                            │      │      │      │      │    │      │      │      │      │
//                            └──────┴──────┴──────┴──────┘    └──────┴──────┴──────┴──────┘
            bindings = <
&trans &trans     &trans     &trans     &trans    &trans                   &trans    &trans        &trans   &trans        &trans   &trans
&trans &kp INS   &kp PSCRN  &kp K_CMENU &trans   &trans                   &kp PG_UP &kp LC(LEFT) &kp UP   &kp LC(RIGHT) &kp SLCK &trans
&trans &trans     &trans     &trans     &trans    &kp CLCK                 &kp PG_DN &kp LEFT     &kp DOWN &kp RIGHT     &kp DEL  &kp BSPC
&trans &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V) &trans  &trans  &trans  &trans    &kp HOME     &trans   &kp END       &trans   &trans
                             &trans     &trans    &mo 3   &trans  &trans  &trans    &trans       &trans
            >;
        };

        adjust_layer {
            display-name = "Adjust";
// ┌───────┬───────┬───────┬───────┬───────┬───────┐                    ┌───────┬───────┬───────┬───────┬───────┬───────┐
// │ BTCLR │  BT1  │  BT2  │  BT3  │  BT4  │  BT5  │                    │       │       │       │       │       │       │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │       │       │       │                    │       │ VOL DN│ MUTE  │VOL UP │       │       │
// ├───────┼───────┼───────┼───────┼───────┼───────┤                    ├───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │       │       │       │                    │       │ PREV  │ PLAY  │ NEXT  │       │       │
// ├───────┼───────┼───────┼───────┼───────┼───────┼───────┐    ┌───────┼───────┼───────┼───────┼───────┼───────┼───────┤
// │       │       │       │       │       │       │       │    │       │       │       │       │       │       │       │
// └───────┴───────┴───────┴──┬────┴──┬────┴──┬────┴──┬────┘    └──┬────┴──┬────┴──┬────┴──┬────┴───────┴───────┴───────┘
//                            │      │      │      │      │    │      │      │      │      │
//                            └──────┴──────┴──────┴──────┘    └──────┴──────┴──────┴──────┘
            bindings = <
#ifdef CONFIG_ZMK_STUDIO
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                  &trans &trans       &trans     &trans       &trans &studio_unlock
#else
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                  &trans &trans       &trans     &trans       &trans &trans
#endif
&trans     &trans       &trans       &trans       &trans       &trans                          &trans &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &trans &trans
&trans     &trans       &trans       &trans       &trans       &trans                          &trans &kp C_PREV   &kp C_PP   &kp C_NEXT   &trans &trans
&trans     &trans       &trans       &trans       &trans       &trans       &trans     &trans  &trans &trans       &trans     &trans       &trans &trans
                                     &trans       &trans       &trans       &trans     &trans  &trans &trans       &trans
            >;
        };

        extra1 {
            display-name = "Extra 1";
            status = "reserved";
        };

        extra2 {
            display-name = "Extra 2";
            status = "reserved";
        };
    };
};
